

    

.image-b{
    background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(image\ 6);
    background-size: cover;
    background-repeat: no-repeat;
    
    height: 100vh;
    margin: 0%;
    padding: 0;
    display: flex;

    

    
}
.paragraph{
    position: relative;
    left: 30%;
}
#one{
    color: burlywood;
    font-weight: bold;
}
.words{
    position: relative;
    left: 8%;
    color: white;
}

    

#holder{
    width: 400px;
    position: relative;
    left: 26%;
    bottom: 40%;
}
#line{
    width: 1000px;
    position: relative;
    bottom: 10%;
}
#line-one{
    text-align: center;
    font-weight: 900;
    font-size: 45px;
    padding-top: 15%;
}
#line-two{
    text-align: center;
}
#line-3{
    position: relative;
    left: 40%;
    background-color: burlywood;
    border-radius: 5px;
}
.explore{
    position: relative;
    left: 10%;
}
.line-5{
    width: 100px;
    position: relative;
    right: 30%;
    bottom: 35px;
}
#line-6{
    width: 200px;
    margin-right: 20px;
    

}
#line-7{
    width: 200px;
    height: 120px;
    margin-right: 20px;
}
#line-8{
    width:200px ;
    height: 120px;
    margin-right: 20px;

}
.info{
    display: flex;
    position: relative;
    left: 25%;

}
#first{
    background-color: pink;
    width: 50px;
}
#second{
    background-color: white;
}
#third{
    background-color: white;
}
#gloria{
    position: relative;
    right: 70%;
    
    width: 150px;
    background-color: burlywood;
    border-radius: 5px;
    
    
}
  
#sign{
    position: relative;
    left: 140px;
    color: burlywood;
}
#soni{
    width: 100px;
    position: relative;
    right: 20%;
    bottom: 22px;
}
#hand{
    width: 200px;
    height: 120px;
    margin-left: 15px;
    
}
#pal{
    width: 200px;
    height: 120px;
    margin-left: 15px;
}
#impo{
    width: 200px;
    height: 120px;
    margin-left: 15px;
}
.flex{
    display: flex;
    margin-left: 25%;

}
#put{
    position: relative;
    right: 58%;
    width: 150px;
    background-color: burlywood;
    border-radius: 5px;

}
.inform{
    background-color: rgb(17, 17, 207);
    
    
}
#plane{
    width: 70px;
    position: relative;
    left: 55%;
    bottom: 24px;
    color: grey;
    
    
}
.all{
    padding-left: 15%;
    
    
    position: relative;
    bottom: 3px;
    border-radius: 50%;
    height: 350px;
    width: 13%;
    background-color: lightcoral
    
    
}
.last{
    width: 300px;
    height: 330px;
    position: relative;
    left: 250px;
    bottom: 250px;
    
    
}.marie{
    position: relative;
    left: 26%;
}#gubo{
    font-weight: bold;
}



#fa-brands fa-instagram{
    position: relative;
    left: 20%;
}


.kos{
    position: relative;
    left: 13%;
    font-weight: bolder;
}
.wow{
    position: relative;
    left: 13%;
}
.tow{
    position: relative;
    
}
#bro{
    color: coral;
}
.pri{
    position: relative;
    left: 25%;
    bottom: 88px;


}
.ship{
    position: relative;
    left: 45%;
    bottom: 210px;
}
.car{
   position: relative; 
   left: 60%;
   bottom: 350px;
}
.cop{
    position: relative;
    left: 80%;
    bottom: 480px;
}
.ol{
    background-color: darkblue;
    height: 300px;

}
.jo{
    background-color: burlywood;
    border-radius: 5px;
}

.pol{
    position: relative;
    top: 20%;
    right: 70px;

}
.with{
    background-color: pink;
}
.fa-solid fa-magnifying-glass{
    position: relative;
    right: 100px;

    

}
.too{
    position: relative;
    left: 25%;
    color: black;
    
}
.top{
    position: relative;
    left: 100%;
    bottom: 60px;
    color: black;

}
#input-container { position:relative; padding:0; margin:0; 
    color: black;
    position: relative;
    left: 55%;
    bottom: 38px;
    

}
#holder1{
    height:20px; margin:0; padding-left: 30px; 
    width: 400px; 
}
#fa fa-search{
    position:absolute; bottom:12px; right: 180px;; width:10px; height:10px; 
     
}
#icon1{
    position:absolute; bottom:12px; left: 10px; width:10px; height:10px; 
     

}
#icon2{
    position:absolute; bottom:12px; left: 380px; width:10px; height:10px; 
}
#icon3{
    position:absolute; bottom:12px; left: 400px; width:10px; height:10px; 
}
#wid1{
    position: relative;
    bottom: 10px;
    color: pink;
}
#wid2{
    position: relative;
    bottom: 10px;
    color: pink;
}
#wid3{
    position: relative;
    bottom: 10px;
    color: pink;
}
#clor1{
    color: white;
}
#clor2{
    color: white;
}
#clor3{
    color: white;
}
#clor4{
    color: white;
}
#clor5{
    color: white;
}
#clor6{
    color: white;
}


    






    


    

    

    
    

    




    


    


